body{
  background-color:black;
}
h1{
  color: red;
  font: bolder;
}
p{
  color:brown;
}
ul{
  color:chocolate;
}
li{
  color: chocolate;
}
hr{
  border-color: whitesmoke;
  border-style: dotted none none;
  border-width: 5px ;
  width: 30%;
}
</html>